- var cao = ['Арбат','Басманный','Замоскворечье','Красносельский','Мещанский','Пресненский','Таганский','Тверской','Хамовники','Якиманка'];
    
- var sao = ['Аэропорт','Беговой','Бескудниковский','Войковский','Головинский','Дегунино Восточное','Дегунино Западное','Дмитровский','Коптево','Левобережный','Молжаниновский','Савёловский'];
    
- var sao2 = ['Сокол','Тимирязевский','Ховрино','Хорошёвский'];

- var svao = ['Алексеевский','Алтуфьевский','Бабушкинский','Бибирево','Бутырский','Лианозово','Лосиноостровский','Марфино','Марьина роща','Медведково Северное','Медведково Южное','Останкинский'];    
    
- var svao2 = ['Отрадное','Ростокино','Свиблово','Северный','Ярославский'];
    
- var uvao = ['Выхино-Жулебино','Капотня','Кузьминки','Лефортово','Люблино','Марьино','Некрасовка','Нижегородский','Печатники','Рязанский','Текстильщики','Южнопортовый'];
    
mixin dev_head(page_title, index, companies, location, complex, card, rate, company)
    head
        title=page_title
        | 
        | <!-- saved from url=(0014)about:internet -->
        meta(charset='utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        | 
        | <!--build:css css/styles.min.css-->
        link(rel='stylesheet', href='css/main_global.css', media='all')
        | 
        | <!--endbuild-->
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&amp;subset=cyrillic", rel="stylesheet", type='text/css')
 
        | 
        | <!--build:js js/main.min.js -->
        script(src='js/lib/jquery-1.12.1.min.js')
        script(src='js/lib/modernizr.js')
        script(src='js/lib/jquery-ui-1.11.4.js')
        script(src='js/lib/slick.js')
        script(src='js/lib/jquery.inputmask.bundle.js')
        //script(src='js/lib/jquery.easy-autocomplete.js')
        script(src='js/lib/select2.js')
        script(src='js/main.js')
        | 
        | <!--endbuild-->
        | <!--[if lt IE 9]>
        | <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        | <script src="js/lib/respond.min.js"/></script>
        | <![endif]-->
        
        - if (index)
            | 
            | <!--build:js js/index.min.js -->
            script(src='js/lib/jquery.backstretch.js')
            script(src='js/index.js')
            | 
            | <!--endbuild-->
        - if (companies)
            | 
            | <!--build:js js/companies.min.js -->
            script(src='js/companies.js')
            | 
            | <!--endbuild-->
        - if (location)
            | 
            | <!--build:js js/location.min.js -->
            script(src='js/location.js')
            | 
            | <!--endbuild-->
        - if (company)
            | 
            | <!--build:js js/company.min.js -->
            script(src='js/company.js')
            | 
            | <!--endbuild-->
        - if (complex)
            script(src='//cdnjs.cloudflare.com/ajax/libs/es5-shim/4.4.1/es5-shim.js')
            script(src='//cdnjs.cloudflare.com/ajax/libs/es6-shim/0.34.1/es6-shim.js')
            
            | 
            | <!--build:js js/complex.min.js -->
            script(src='js/lib/jquery.backstretch.js')
            script(src='js/lib/nouislider.js')
            script(src='js/complex.js')
            | 
            | <!--endbuild-->
        - if (card)
            | 
            | <!--build:js js/card.min.js -->
            script(src='js/lib/d3.min.js')
            script(src='js/lib/moment.min.js')
            script(src='js/lib/nouislider.js')
            script(src='js/card.js')
            | 
            | <!--endbuild-->
        - if (rate)
            | 
            | <!--build:js js/rate.min.js -->
            script(src='js/lib/d3.min.js')
            script(src='js/lib/moment.min.js')
            script(src='js/lib/nouislider.js')
            script(src='js/rate.js')
            | 
            | <!--endbuild-->
            

mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block

mixin header(active)
    div.header
        .section-inner
            .header-logo_block
                a.header-logo(href='index.html')
                    span КВА
                        span.header-logo_r Р
                        | ТИРИУМ
                    
            a.mob-menu_btn.openMobMenu(href='#')

            .main-menu_holder
                .user-menu
                    a.user-menu_link(href='#')
                        span.user-menu_icon
                        span Вход

                ul.main-menu
                    li.main-menu_item.menuItem._dropdown-menu
                        span.gl_link Квартиры
                        ul.main-menu_sub-menu
                            li: a.gl_link(href='complexes.html') Новостройки
                            li: a.gl_link(href='complexes_2.html') Вторичное жилье
                            li: a.gl_link(href='objects.html') 1-комнатные
                            li: a.gl_link(href='objects_2.html') 2-комнатные
                    li.main-menu_item.menuItem._dropdown-menu
                        span.gl_link Новостройки
                        ul.main-menu_sub-menu
                            li: a.gl_link(href='rate.html') Все новостройки
                            li: a.gl_link(href='location.html') Москва
                            li: a.gl_link(href='card.html') Московская область
                        
                    li.main-menu_item.menuItem
                        a.gl_link(href='companies.html') Компании
                    li.main-menu_item.menuItem
                        a.gl_link(href='company.html') Полезное
                    

mixin footer()
    .footer
        .section-inner
            .footer-about_block
                .footer-about.mob_hidden Квартириум - это самый удобный способ поиска недвижимости по точному адресу или по карте, с учётом всех интересующих вас параметров.
                ul.footer-about_menu
                    li: a.gl_link(href='#') О проекте
                    li: a.gl_link(href='#') Реклама
                    li: a.gl_link(href='#') Контакты

            .footer-menu_holder
                ul.main-menu
                    li.main-menu_item.menuItem
                        a.gl_link(href='#') Квартиры
                        ul.main-menu_sub-menu
                            li: a.gl_link(href='#') Новостройки
                            li: a.gl_link(href='#') Вторичное жилье
                            li: a.gl_link(href='#') 1-комнатные
                            li: a.gl_link(href='#') 2-комнатные
                    li.main-menu_item.menuItem
                        a.gl_link(href='#') Новостройки
                        ul.main-menu_sub-menu
                            li: a.gl_link(href='#') Все новостройки
                            li: a.gl_link(href='#') Москва
                            li: a.gl_link(href='#') Московская область

                    li.main-menu_item.menuItem
                        a.gl_link(href='#') Компании
                        ul.main-menu_sub-menu
                            li: a.gl_link(href='#') Все компании
                            li: a.gl_link(href='#') Рейтинг компаний
                            li: a.gl_link(href='#') Лучшие 2016 года
                    li.main-menu_item.menuItem
                        a.gl_link(href='#') Полезное
                        ul.main-menu_sub-menu
                            li: a.gl_link(href='#') Иноформация
                            li: a.gl_link(href='#') Законы и акты
                
                
            .footer-copyright_holder
                .footer-copyright 2011—2016, kvartirium.ru <br> - всё, что нужно знать о квартирах

                .footer-adds По вопросам размещения  рекламы и сотрудничества с сайтом <br>  обращайтесь в рекламный отдел:+7 (495) 432-43-22
                    
                ul.footer_counters
                    li
                        img(src='images/li_counter.png')
                        
mixin breadcrumbs(list)
    ul.breadcrumbs
        for item, i in list
            li.breadcrumb-item
                - if (i == list.length - 1)
                    span=item
                - else
                    a.gl_link(href= item == 'Главная' ? 'index.html' : (item == 'Компании' ? 'companies.html' : 'products.html'))=item
            
mixin prices()
    .object_card-rates
        .company-info_features-rate
            span.feature-label.fl
                span 3 345 000 руб. 
            span.feature-rate.fl
                .feature-rate_scale
                    div(style='width:80%;')
            span.feature-label.fl Эта квартира

        .company-info_features-rate
            span.feature-label.fl 3 545 000 руб.
            span.feature-rate.fl
                .feature-rate_scale
                    div(style='width:60%;')
            span.feature-label.fl В среднем по району

        .company-info_features-rate
            span.feature-label.fl 3 745 000 руб.
            span.feature-rate.fl
                .feature-rate_scale
                    div(style='width:30%;')
            span.feature-label.fl В среднем по округу
            
mixin  variants()
    .filter-form: form(action='#')
        .filter-container
            .filter-cell._col-4
                .form-cell.select-box-v1._bordered.select-search-v1
                    select.typeSelect.select2(data-dropdown-class='dropdown-v1' data-close-on-select_='false' multiple_ data-placeholder='Выбрать банк')
                        option
                        option Банк 1
                        option Банк 2
                        option Банк 3
                        option Банк 4
                        option Банк 5

            .filter-cell._col-1.filterBlock
                .form-cell.toddler-val-v2
                    .toddler-val.select-box-v3
                        span.btn_v1.filter_btn.text_left._wnw Первый взнос, руб.
                        span.start.btn_v1.filter_btn: input.f_input.input-v3.val
                        select.toddlerSelect(data-target='.start' )
                            option 0
                            option 10000
                            option 50000
                            option 100000
                            option 500000
                            option 1000000
                            option 2500000
                            option 5000000
                        //-span.label.hide &mdash;
                        //-span.end.hide: input.f_input.input-v3.val
                        //-select.toddlerSelect(data-target='.end' )
                            option 0
                            option 10000
                            option 50000
                            option 100000
                            option 500000
                            option 1000000
                            option 2500000
                            option 5000000

                .form-cell.toddler-v1._single
                    .filterToddler(data-format='money' data-single='true' data-min=0 data-max=5000000)
                .toddler-range
                    .fl 100 000
                    .fr 2 500 000
                        
            .filter-cell._col-1.filterBlock
                .form-cell.toddler-val-v2
                    .toddler-val.select-box-v3
                        span.btn_v1.filter_btn.text_left._wnw Срок кредитования
                        span.start.btn_v1.filter_btn: input.f_input.input-v3.val
                        select.toddlerSelect(data-target='.start' )
                            - for (var i=1; i<21; i++)
                                option=i
                        //-span.label.hide &mdash;
                        //-span.end.hide: input.f_input.input-v3.val
                        //-select.toddlerSelect(data-target='.end' )
                            - for (var i=1; i<21; i++)
                                option=i
                            
                .form-cell.toddler-v1._single
                    .filterToddler(data-format='money' data-single='true' data-plural-suffix_1=true data-plural='год,года,лет' data-min=1 data-max=20)
                .toddler-range
                    .fl 1 год 
                    .fr 20 лет
                        
            .filter-cell._col-4
                p._clr_gray._price-label Общая сумма выплат
                .object_card-total_price 1 500 890 руб.
            
            .filter-cell._col-1.dt_fr
                p._clr_gray._price-label Плата за пользование кредитом
                .object_card-total_price 1 400 500 руб.
                    
            .filter-cell._col-1
                p._clr_gray._price-label Ежемесячный платеж
                .object_card-total_payment 42 500 руб.
                    
mixin review_footer()
    .review-footer.reviewFooter
        ul.review-footer_controls
            li
                a.review-btn._like(href='#') 5
            li
                a.review-btn._dislike(href='#') 2
            li
                a.gl_link._clr_blue.answerBtn(href='#' data-text-toggle='Отменить ответ') Ответить

        .review-footer_answer.reviewAnswer
            form(action='#')
                .input_w._answer-name
                    input.f_input.input-v1._bordered(placeholder='Имя')
                .input_w._answer_text
                    textarea.f_input.input-v1._h-112._bordered(placeholder='Сообщение')

                .input_w
                    button.btn_v1.btn_blue.review_btn Ответить

mixin popups()
    #region_popup.popup.popup_v2(title='Регион: Москва')
        form(action='#')
            .section-inner
                .complex-view_tabs-holder
                    .complex-view_tabs
                        #region_switcher.filter-list.text_upper.tabScroller
                            li.filter-item
                                a.gl_link(href='#region_tab_1')
                                    span районы и округа
                            li.filter-item
                                a.gl_link(href='#region_tab_2')
                                    span направления
                            li.filter-item
                                a.gl_link(href='#region_tab_3')
                                    span метро
        
                    .complex-view_sort
                        span.mb.complex-view_sort-item
                            | Отмечено  
                            span.fw_b 2 района:
                        .dt_hidden
                        .mb.complex-view_sort-item
                            button.btn_v1.filter_btn.btn_blue Выбрать
                        .mb.complex-view_sort-item
                            input#reset_region.inp-hidden(type='reset')
                            a._clr_gray.formReset(href="#reset_region") Сбросить
    
            .section-inner.clearfix
                .scrollerTabs(data-tab-context='#region_switcher .slick-track')
                    #region_tab_1
                        .tab_content 
                            ul.region_list-holder
                                +loop_while(1)
                                    li.region_list-col
                                        .region_list-unit
                                            .region_list-caption ЦАО
                                            ul.region_list
                                                for item, i in cao
                                                    li 
                                                        label.check-emul._check-v3
                                                            input.inp-hidden(type='checkbox')
                                                            span.check-text=item 
                                                
                                    li.region_list-col._wide
                                        .region_list-unit
                                            .region_list-caption САО 
                                            ul.region_list
                                                for item, i in sao
                                                    li 
                                                        label.check-emul._check-v3
                                                            input.inp-hidden(type='checkbox')
                                                            span.check-text=item
                                                    
                                        .region_list-unit
                                            .region_list-caption._empty &nbsp; 
                                            ul.region_list
                                                for item, i in sao2
                                                    li 
                                                        label.check-emul._check-v3
                                                            input.inp-hidden(type='checkbox')
                                                            span.check-text=item 
                                                
                                    li.region_list-col._wide
                                        .region_list-unit
                                            .region_list-caption СВАО 
                                            ul.region_list
                                                for item, i in svao
                                                    li 
                                                        label.check-emul._check-v3
                                                            input.inp-hidden(type='checkbox')
                                                            span.check-text=item
                                                    
                                        .region_list-unit
                                            .region_list-caption._empty &nbsp; 
                                            ul.region_list
                                                for item, i in svao2
                                                    li 
                                                        label.check-emul._check-v3
                                                            input.inp-hidden(type='checkbox')
                                                            span.check-text=item 
                                                
                                    li.region_list-col
                                        .region_list-unit
                                            .region_list-caption ЮВАО  
                                            ul.region_list
                                                for item, i in uvao
                                                    li
                                                        label.check-emul._check-v3
                                                            input.inp-hidden(type='checkbox')
                                                            span.check-text=item


                                    li.region_list-col._wide
                                        .region_list-unit
                                            .region_list-caption СВАО 
                                            ul.region_list
                                                for item, i in svao
                                                    li
                                                        label.check-emul._check-v3
                                                            input.inp-hidden(type='checkbox')
                                                            span.check-text=item

                                        .region_list-unit
                                            .region_list-caption._empty &nbsp; 
                                            ul.region_list
                                                for item, i in svao2
                                                    li
                                                        label.check-emul._check-v3
                                                            input.inp-hidden(type='checkbox')
                                                            span.check-text=item

                                    li.region_list-col
                                        .region_list-unit
                                            .region_list-caption ЦАО
                                            ul.region_list
                                                for item, i in cao
                                                    li 
                                                        label.check-emul._check-v3
                                                            input.inp-hidden(type='checkbox')
                                                            span.check-text=item 
                                                
                                    li.region_list-col._wide
                                        .region_list-unit
                                            .region_list-caption САО 
                                            ul.region_list
                                                for item, i in sao
                                                    li 
                                                        label.check-emul._check-v3
                                                            input.inp-hidden(type='checkbox')
                                                            span.check-text=item
                                                    
                                        .region_list-unit
                                            .region_list-caption._empty &nbsp; 
                                            ul.region_list
                                                for item, i in sao2
                                                    li 
                                                        label.check-emul._check-v3
                                                            input.inp-hidden(type='checkbox')
                                                            span.check-text=item
                                                
                                    li.region_list-col
                                        .region_list-unit
                                            .region_list-caption ЮВАО  
                                            ul.region_list
                                                for item, i in uvao
                                                    li
                                                        label.check-emul._check-v3
                                                            input.inp-hidden(type='checkbox')
                                                            span.check-text=item
                        
                        .complex-view_tabs-holder.tablet_hidden._footer_mode
                            .complex-view_sort
                                span.mb.complex-view_sort-item
                                    | Отмечено  
                                    span.fw_b 2 района:
                                .mb.complex-view_sort-item
                                    button.btn_v1.filter_btn.btn_blue Выбрать
                                .mb.complex-view_sort-item
                                    input#reset_region.inp-hidden(type='reset')
                                    a._clr_gray.formReset(href="#reset_region") Сбросить
                            

                    #region_tab_2 2
                                    
                    
                    #region_tab_3 3
                                
                
                        
                        